.common-layout {
  .i-header {
    background-color: var(--i-color-primary-7);
  }
  .i-main {
    background-color: var(--i-color-primary-3);
  }
  .i-footer {
    background-color: var(--i-color-primary-7);
  }
  .i-aside {
    background-color: var(--i-color-primary-5);
  }
  .i-aside,
  .i-header,
  .i-main,
  .i-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.grid-item {
  border-radius: 4px;
  min-height: 36px;
  width: 100%;
}
.bg-2 {
  background-color: var(--i-color-primary-2);
}
.bg-4 {
  background-color: var(--i-color-primary-4);
}
.bg-6 {
  background-color: var(--i-color-primary-6);
}

table {
  width: 100% !important;
  display: revert !important;
}
