:root {
  // 主题色
  --vp-c-brand-1: #b558f6;
  --vp-c-brand-2: #bd6bf8;
  --vp-c-brand-3: #c375fa;

  // 首页标题
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(120deg, var(--vp-c-brand-next) 10%, var(--vp-c-linear));

  // 首页图片背景
  --vp-home-hero-image-background-image: linear-gradient(-45deg, var(--vp-c-brand-next) 10%, var(--vp-c-linear));
  --vp-home-hero-image-filter: blur(80px);

  // demo分割线
  --vp-c-divider: rgba(5, 5, 5, 0.06);
}

// 首页按钮(快速开始)
.VPButton.brand {
  background: linear-gradient(120deg, var(--vp-c-brand-next) 10%, var(--vp-c-linear)) !important;
}

// 导航栏标题
.VPNavBarTitle .title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.VPNavBarTitle .title span {
  padding: 4px 12px;
  border-radius: 4px;
  // background: linear-gradient(135deg, #b558f6 20%, #f5bee7 100%);
  background: linear-gradient(120deg, var(--vp-c-linear) 20%, var(--vp-c-brand-next));
  color: #fff;
}
