:root {
  --vp-c-brand-1: #b558f6;
  --vp-c-brand-2: #bd6bf8;
  --vp-c-brand-3: #c375fa;

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(135deg, #f5bee7 20%, #b558f6 100%);

  --vp-home-hero-image-background-image: linear-gradient(135deg, #f5bee7 20%, #b558f6 100%);
  --vp-home-hero-image-filter: blur(150px);
}
